
@media (max-width: $tablet){
    .tablet {
        display: none;
    }
}

@media (min-width: $tablet){
    .mobile {
        display: none;
    }
}

.fixed-panel {
   
    // width: 500px;
    background: #fff;


    // position: relative;
}


@media (max-width: $tablet){
    .fixed-panel {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
    }
}


@media (min-width: $tablet){
    .fixed-panel {
        border-right: 0.5px solid #000;
        width: 30%;
        position: fixed;
        height: 100vh;
        max-height: 100vh;
        overflow-y: auto;
        padding-top: $site-padding-half;
        padding-bottom: $site-padding-half;
        padding-left: $site-padding;
        padding-right: 20px;
    }
}

.branding {
    .brand-name {
        font-weight: 400;
        margin-top: 0;
    }
}

.intro-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;

    .main-intro {

        .main {
            line-height: 1.5;
            
        }
        
    }

    .sub-intro {
        color: $black50;
        font-size: 1rem;
        // font-weight: 300;
        margin-top: 10px;
    }
}

.skill-list-wrapper {
    margin: 80px 0;

    .item {
        line-height: 2;
    }
}

.divider {
    height: 0.5px;
    background: #000;
    width: 80px;

}

.menu-list-wrapper {
    // position: absolute;
    // bottom: $site-padding-half;
    // left: $site-padding;
    margin-top: 120px;
    text-transform: uppercase;

    .item {
        line-height: 2;
        cursor: pointer;

         &.active {
            
            a {
                position: relative;
                cursor: default;
                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 10px;
                    background: #66CB9D;
                    left: 0;
                    bottom: 0;
                    z-index: -1;
                }
            }

        }
        &:hover {
            &:not(.active){
                a {
                    border-bottom: 1px solid #000;
                }
            }
           
        }
    }
}