// @font-face {
//     font-family: "HelveticaNowDisplay";
//     src: url(./fonts/HelveticaNowDisplay-Light.ttf);
//     font-weight: 300;
//     font-style: light;
//   }
//   @font-face {
//     font-family: "HelveticaNowDisplay";
//     src: url(./fonts/HelveticaNowDisplay-ExtraBold.ttf);
//     font-weight: 700;
//     font-style: bold;
//   }
//   @font-face {
//     font-family: "TitlingGothicFB";
//     src: url(./fonts/TitlingGothicFB/TitlingGothicFBNor-Bold.otf);
//     font-weight: 700;
//     font-style: bold;
//   }
// @import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,500,600,700|Source+Sans+Pro:300&display=swap');
// .heading {
//     font-family: 'Cormorant Garamond', serif; 
// } 

// @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@media (max-width: $tablet){
    .brand-name {
        font-size: 1.5rem;
    }
    .fixed-panel {
        .intro-wrapper {
            .main {
                font-size: 1.25rem;
                .smaller {
                    font-size: 1rem;
                }
            }
            .sub {
                font-size: 1rem;
            }
        }
    }
}

@media (min-width: $tablet){
    .brand-name {
        font-size: 1.5rem;
    }
    .fixed-panel {
        .intro-wrapper {
            .main {
                font-size: 1.5rem;
                .smaller {
                    font-size: 1.25rem;
                }
            }
            .sub {
                font-size: 1.25rem;
            }
        }
    }
}
